:root {
  --color-1: #7400b8;
  --color-2: #6930c3;
  --color-3: #5e60ce;
  --color-4: #5390d9;
  --color-5: #4ea8de;
  --color-6: #56cfe1;
  --color-7: #64dfdf;
  --color-8: #72efdd;
  --color-9: #80ffdb;
  --color-text-1: #eae0d5;
  --color-text-2: #022b3a;
}

body {
  font-family: "Anek Tamil", sans-serif;
  margin-top: 20px;
}

ul {
  list-style: none;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  gap: 20px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
